body {
  width: 100%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #314755;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#26a0da), to(#314755));
  background: linear-gradient(to right, #26a0da, #314755);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#header {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #EEE;
  background: #303F9F;
}

#header #header-img {
  float: left;
  padding: 0px 0px 0px 0px;
}

#header #header-img img {
  max-height: 75px;
}

#header #nav-bar {
  float: right;
  width: 40%;
  padding: 25px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#header #nav-bar a.nav-link {
  text-decoration: none;
  color: #EEE;
}

.background {
  padding-top: 10px;
  width: 100%;
  text-align: center;
  font-family: Langar;
}

.background .background-box {
  padding-top: 100px;
  height: 300px;
  background: #09F;
  color: white;
  font-size: 40px;
}

.background #wave {
  margin-top: -40px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 70%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  background: #c0c0aa;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#1cefff), to(#c0c0aa));
  background: linear-gradient(to right, #1cefff, #c0c0aa);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.info .bla {
  color: #303F9F;
  font-size: 2vw;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
  width: 40%;
}

.info #img_info {
  margin-top: 3%;
  width: 45%;
  height: auto;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  width: 70%;
  height: 20%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
  border-radius: 40px;
  background: #c0c0aa;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#1cefff), to(#c0c0aa));
  background: linear-gradient(to right, #1cefff, #c0c0aa);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.video iframe {
  width: 45%;
  height: auto;
  margin-top: 3%;
}

.video .bla {
  color: #5163d3;
  font-size: 2vw;
  font-weight: 800;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  width: 40%;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  width: 70%;
  height: 20%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
  border-radius: 40px;
  background: #c0c0aa;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#1cefff), to(#c0c0aa));
  background: linear-gradient(to right, #1cefff, #c0c0aa);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#form p {
  color: #0e1d85;
  font-size: 2vw;
  font-weight: 800;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 40%;
}

#form .mail {
  color: #0e1d85;
  font-size: 2vw;
  font-weight: 800;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 40%;
}

#form .mail .mail-input #email {
  margin-top: 15px;
  width: 40%;
  font-size: 16px;
  text-align: left;
  padding: 12px 45px;
  border: lightgray solid 1px;
  border-radius: 50px;
}

#form .mail .mail-input #email:hover {
  color: black;
  -webkit-box-shadow: 2px 1px 2px 1px lightgray, -1px -1px 2px 1px lightgray;
  box-shadow: 2px 1px 2px 1px lightgray, -1px -1px 2px 1px lightgray;
}

#form .mail #submit {
  margin-top: 25px;
  background: #303F9F;
  color: gray;
  font-size: 18px;
  font-weight: 800;
  border-radius: 50px;
  padding: 9px 15px 9px 15px;
  font-size: 13px;
  line-height: 20px;
  color: #eee;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  position: relative;
  background: #0e1d85;
  margin-top: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer div.foot1 {
  color: #eee;
  text-align: center;
}

footer div.foot1 img {
  width: 50%;
  height: auto;
}

footer div.foot2 {
  color: #eee;
  margin-top: 30px;
  font-size: 12px;
  width: 10%;
  text-align: justify;
}

.icon {
  font-size: 25px;
}

@media (max-width: 800px) {
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 450px;
  }
  .info .bla {
    color: #303F9F;
    font-size: 2vw;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    width: 70%;
  }
  .info #img_info {
    margin-top: 3%;
    width: 70%;
    height: auto;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
    height: 10%;
  }
  .video iframe {
    width: 70%;
    height: auto;
    margin-top: 3%;
  }
  .video .bla {
    color: #5163d3;
    font-size: 2vw;
    text-align: justify;
    width: 50%;
  }
  #form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */